<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="converstorefactory">
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.password">yeshuah</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/converstore</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">1</property><!-- SQL dialect -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property><!--Echo all executed SQL to stdout -->
<!--		<property name="show_sql">true</property> Drop the existing tables and create new one -->
		<property name="hbm2ddl.auto">create</property><!-- Mention here all the model classes along with their package name -->
		<mapping class="br.com.converstore.db.entity.Produtos" />
	</session-factory>
</hibernate-configuration>
